<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
               <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
 <a href="/"> <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
Go Back
  </button></a>
 <form
      class="container"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h1 class="text-center text-primary">Upload Resturant Dishes</h1>
     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">titleofvideo</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="titleofvideo"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Write blog Here</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="blogtext"
        />
      </div>
          <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Upload image</label>
        <input
          type="file"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="blogimage"
        />



      <button type="submit" class="btn btn-primary">Post Dishes </button>
    </form>

</body>
</html>